/* products section */
#allProducts {
  margin-top: 7rem;
}
.product-card {
  background-color: rgba(75, 8, 8, 0.9);
}
.navbar-toggler-icon {
  /* font-size: 0.3rem; */
  border: none;
  box-shadow: none;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.filter-heading {
  font-size: 1rem;
}
.form-select:focus {
  /* background-color: var(--bs-body-bg); */
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.3rem rgba(240, 14, 127, 0.2);
}
